<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by Jason for his Vanderbilt Coding Boot Camp.
  <br />
  <p>
    Jason practiced community pharmacy for over a decade before embarking on his coding adventure.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

   <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'Jason.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Jason Miley</h2>
      <br />
      <p>
        Jason Miley is a web development student in the Vanderbilt Coding Bootcamp.  He managed and practiced at several community based pharmacist prior to starting the program.
      </p>
    </div>
  </div>


</div>

 
<br class="clear" />
<br />
<br />
<br />
<br />

